/*
 * Rating
 * ---------------------- */

.rating-wrapper .value,
.rating-wrapper .rating {
    color: #27ae60;
    font-size: 2em;
}

.rating-wrapper .value {
    color: #95a5a6;
}

.rating-wrapper .value,
.rating-wrapper label { 
    line-height: 1.2;
}

.rating {
	float: left;
}

.rating.inactive {
	pointer-events: none;
}

/* 
 * :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 * follow these rules. Every browser that supports :checked also supports :not(), so
 * it doesn’t make the test unnecessarily selective */

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #ddd;
}

.rating:not(:checked) > label:before {
	font-family: FontAwesome;
    content: '\f005';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top: 2px;
    left: 2px;
}

.rating-wrapper:after {
    display: block;
    content: '';
    clear: both;	
}
	
.rating-wrapper .value {
    display: inline-block;
	padding-left: 0.3em;
}

/*
 * Articles on the subject. I didn't come up with all this myself!
 * ------------------------------------------------------------------------------- 
 * http://css-tricks.com/star-ratings/
 * http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/
 * */

/*
 * Other people's take on this
 * ------------------------------------------------------------------------------- 
 * http://css-tricks.com/star-ratings/
 * http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/
 * */
